.demonstration .container {
    background: #098ed1;
    display: flex;
    justify-content: center;
}

.demonstration .content {
    display: flex;
    margin-top: 56px;
    width: 1180px;
    justify-content: center;
}

.sample {
    position: relative;
    display: flex;
    justify-content: center;
    left: -159px;
    width: 400px;
}

.sample::before {
    content: '';
    position: absolute;
    width: 43px;
    height: 198px;
    background: rgba(0, 0, 0, 0.3);
    left: 170px;
    top: 25px;
    transform: skew(-3deg, 40deg);
    z-index: 1;
    filter: blur(8px);
}

.sample::after {
    content: '';
    position: absolute;
    background: rgba(9, 142, 209, 0.9);
    filter: blur(2px);
    width: 43px;
    height: 40px;
    left: 160px;
    top: -5px;
    z-index: 1;
}

.d2 {
    position: relative;
    left: 185px;
    top: -20px;
    transform: scale(0.7);
}

.d2::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 4px;
    top: 240px;
    border-radius: 100%;
    filter: blur(1px);
    left: -12px;
    background: rgba(0, 0, 0, 1);
}

.d1 {
    position: relative;
    z-index: 2;
}

.d1::before {
    content: '';
    position: absolute;
    width: 420px;
    height: 4px;
    top: 240px;
    border-radius: 100%;
    filter: blur(1px);
    left: -12px;
    background: rgba(0, 0, 0, 1);
} 

.keyboard {
    position: absolute;
    top: 265px;
    left: 60px;
}

.opportunities {
    width: 560px;
    position: relative;
    left: 110px;
}

.opportunities ul li {
    border-bottom: 1px solid #00a2de;
    position: relative;
    margin-bottom: 30px;
}

.opportunities ul li:nth-child(3) {
    border: none;
}


.opportunities ul li::before {
    position: absolute;
    content: url(../img/plane.png);
    left: 20px;
}

.opportunities ul li:nth-child(2)::before {
    content: url(../img/compass.png);
}

.opportunities ul li:nth-child(3)::before {
    content: url(../img/globe.png);
}


.opportunities ul h5 {
    font-size: 22px;
    color: white;
    font-weight: 300;
    line-height: 0.8;
    padding-left: 80px;
}

.opportunities ul p {
    font-size: 13px;
    color: #8cd9ff;
    font-weight: 300;
    line-height: 1.5;
    padding: 13px 30px 25px 80px;
}

.opportunities ul span {
    font-weight: bold;
    font-size: 1.04em;
}