@media (max-width: 1262px) {
    footer .container {
        height: auto;
    }

    footer .content {
        grid-template-columns: repeat(2, 275px);
        justify-content: center;
        grid-gap: 40px
    }

    footer .content .recent-posts {
        grid-column: 2;
    }

    footer section {
        justify-content: center;
    }

    footer section p {
        width: auto;
    }
}

@media (max-width: 570px) {
    footer .content {
        grid-template-columns: 275px;
    }

    footer .content .recent-posts {
        grid-column: 1 / -1;
    }

    footer .content .recent-posts {
        grid-column: 0;
    }
}
